version: "3.9"

services:
  backend:
    build: .
    container_name: escala-backend
    env_file:
      - .env.docker
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: escala-postgres
    environment:
      POSTGRES_DB: escala
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
